#editor {
  line-height: var(--line-height);
  resize: none;
  display: inline-block;
  margin: 0 auto;
  border: 0;
  background: var(--background);
  color: var(--color);
  font-size: var(--font-size);
  padding: 65px calc((100vw - var(--sidebar-width) - var(--editor-width)) / 2);
  width: 100%;
  height: 100%;
}

#editor:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  #editor.hide-mobile {
    display: none;
  }

  #editor {
    height: calc(100% - var(--nav-height));
    width: 100%;
    margin-top: var(--nav-height);
    padding: var(--small-spacer) var(--medium-spacer);
  }
}

