#editor {
  line-height: var(--line-height);
  resize: none;
  display: inline-block;
  margin: 0 auto;
  border: 0;
  background: var(--background);
  color: var(--color);
  font-size: var(--font-size);
  padding: 65px calc((100vw - 325px - 725px) / 2);
  width: 100%;
  height: 100%;
}

#editor:focus {
  outline: none;
}

@media screen and (max-width: 1075px) {
  #editor.hide-mobile {
    display: none;
  }

  #editor {
    height: calc(100% - 59px);
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 59px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

