#files {
  width: var(--sidebar-width);
  margin: 0;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#files > li {
  width: var(--sidebar-width);
  padding: var(--small-spacer);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#files .active {
  background: var(--background-active);
  color: var(--color);
}

#files > li:hover {
  background: var(--background-hover);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #files, #files > li {
    width: 100%;
  }
}
