#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sidebar-width);
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 3px solid var(--border);
  padding-top: 56px;
}

#button-container {
  width: 100%;
}

#sidebar button {
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: var(--background);
  color: var(--color-secondary);
  border-radius: 6px;
  width: 80%;
  margin: 5px auto;
  display: block;
  font-size: var(--font-size);
}

#sidebar button:hover {
  background: var(--background-hover);
}

@media screen and (max-width: 1200px) {
  #sidebar {
    display: none;
    width: 100%;
    height: calc(100% - var(--nav-height));
    border-right: 0;
  }

  #sidebar.show-mobile {
    display: block;
  }
}
